# Core
fastapi
uvicorn[standard]
sqlalchemy
cryptography>=41.0.0
torch
torchvision
ultralytics   
cloudinary
pymysql
opencv-python
pillow
python-dotenv

numpy
pandas
scikit-learn


python-multipart   
requests


tqdm               
pydantic           
